/.env
/boscobot.code-workspace
/__pycache__
/ffmpeg.exe
/cogs/__pycache__
/cogs/battleship_game/__pycache__
/cogs/connect_game/__pycache__
/cogs/game_elements/__pycache__
/cogs/gummy/__pycache__
/cogs/gummy/gummy_cogs/__pycache__
/cogs/tictactoe_game/__pycache__
/cogs/utils/__pycache__
/cogs/utils/errors/__pycache__
/cogs/video_load/__pycache__
/cogs/video_load/eq/__pycache__
/cogs/dnd_game/__pycache__
/misc/__pycache__